<div class="cube">
        <img class="cube" src="{{imageUrl}}">
        <p class="name">{{name}}</p>
        <p><span>Difficulty level:</span> {{difficulty}}</p>
        <button class="btn">SHOW MORE</button>
        <div class="cube-description">
                {{description}}
        <a class="btn" href="/products/details/{{_id}}">Details</a>
        </div>
</div>